@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body {
    color:aliceblue;
    background-color: black;
  }
}

@layer components{
  .menuLink{
    @apply cursor-pointer hover:text-[#c5c5c5]
  }
}

/* Marquee styles */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

